.cart-icon {
  width: 60px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 40px;
    height: 40px;
  }

  .item-count {
    position: relative;
    color: blue;
    font-size: 15px;
    font-weight: bold;
    bottom: 12px;
    right: 0;
  }
}